.grid-layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .grid-layout {
    gap: 0.5rem;
    grid-template-areas:
      'header header visual photo'
      'recording animation green edit'
      'recording graphics green edit';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(2, 200px);
  }

  .header {
    grid-area: header;
    text-align: left;
    align-self: end;
  }

  .recording {
    grid-area: recording;
  }
  .animation {
    grid-area: animation;
  }
  .graphics {
    grid-area: graphics;
  }
  .visual {
    grid-area: visual;
  }
  .green {
    grid-area: green;
  }
  .photo {
    grid-area: photo;
  }
  .edit {
    grid-area: edit;
  }
}
